
html {
	height: 100%;
}

body {
	display : block;
	position: absolute;

	background-image: url(../../assets/background_pong.png);
	height: 100%;
}

#root {
	position: absolute;
	height: 100%;
	width: 100%;
}

.MovingBall {
	position: relative;
	display : flex;
	max-width: fit-content;
	flex-direction: column;
	font-size: large;
	text-align: center;
	color: white;
	background-color: transparent;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.MovingBall button {

	color: white;
	background-color: black;
	border: 3px solid white;
	border-radius: 6px;
	padding: 5px;
	margin: 2.5px;
}
.MovingBall button:active {
	color: black;
	background-color: white;
}


#winPanel {
	display:inline-block;
	position: absolute;
	transform: translate(-50%, -50%);	

	background-color: rgb(10, 81, 143);
	padding: 30px;
	color: black;
}

#leftBar {
	width: 5rem;
	background-color: gray;
}

#leftBar span {
	background-color: aqua;
	width: 25%;
}