* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}
h2 {
	color: #ffffff;
}
  
  /* Container for the whole page */
div {
	font-family: Arial, sans-serif;
}
  
.go-to-register-button {
	display: flex;
	width: 22%;
	justify-content: center;
	background-color: #cc00ff;
	margin: 10px auto;
	color: white;
	padding: 10px 15px;
	border-radius: 100px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.2s ease-in-out;
}
  
.go-to-register-button:hover {
	background-color: #7a0099;
}
  
.go-to-login-button {
	display: flex;
	width: 22%;
	justify-content: center;
	background-color: #cc00ff;
	margin: 10px auto;
	color: white;
	padding: 10px 15px;
	border-radius: 100px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.2s ease-in-out;
}

.go-to-login-button:hover {
	background-color: #7a0099;
}
