.bg-myBG {
    background-color: rgba(35, 156, 236, 0.781);
}

.navi{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(156, 187, 253, 0.623);
    /* border: 3.5mm ridge #ffffff; */
    border: 6px double #ffffff;
}

/* .navi a {
    text-align: left;
    text-decoration: none;
    color: white;
} */

.logout-b {
    position: absolute;
	/* background-color: red; */
    max-width: 35px;
    max-height: 35px;
    border-radius: 100px;
	margin: -17px 83%;
}

.nav-pong {
    position: absolute;
    margin: -30px 25.5%;
    width: 100px;
}

.nav-hangman {
    position: absolute;
    margin: -17px 40%;
    width: 100px;
}

.nav-cl {
    position: absolute;
    margin: 0px 46.8%;
    width: 45px;
}

.nav-cr {
    position: absolute;
    margin: -100px 50%;
    width: 45px;
}

.pp_nav {
    position: absolute;
    margin: -25.5px 34%;
    border-radius: 10000000px;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.logo {
    width: 100%;
    height: 3vh;
    background-color: rgba(156, 187, 253, 0.274);
    transition: 0.2s;
}

/* .logo :hover {
    transform: scale(1.2);
    background-color: rgb(38, 0, 252);
} */

/* .language {
    all: unset;
    position: absolute;
    margin: 0px 91%;
} */

/* .language .language-item{
    display: block;
    position: relative;
    padding: 10px 15px;
    background-color: blue;
} */
