.bg-profil {
    display: flex;
    height: 90vh;
    width: 100%;
    box-shadow: inset 0 0 0 200000px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
}

.content-profil{
    color: white;
    border: 13px double rgba(137, 18, 153, 0.795);
    border-radius: 100px;
    background-color: rgba(106, 11, 129, 0.356);
    box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.877);
    backdrop-filter: blur(10px);
    height: 65vh;
    width: 50%;
}

.pp{
    border-radius: 100000000px;
    height: 150px;
    margin: 30px 50px;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
}
